[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
drf-yasg = "*"
drf-rw-serializers = "*"
psycopg2-binary = "*"
gunicorn = {extras = ["eventlet"], ref = "76f8da24cbb992d168e01bda811452bcf3b8f5b3", git = "https://github.com/benoitc/gunicorn.git"}
argon2-cffi = "*"
boto3 = "*"
django-cors-headers = "*"
django-maintenance-mode = "*"

[dev-packages]
bpython = "*"
django-extensions = "*"
black = "*"
isort = "*"
flake8 = "*"
awscli = "*"
mypy = "*"
django-stubs = "*"

[scripts]
check_cors = "python scripts/check_cors.py"

[requires]
python_version = "3.10"
