[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
drf-yasg = "*"
drf-rw-serializers = "*"
psycopg2-binary = "*"
gunicorn = {extras = ["gevent"], version = "*"}
argon2-cffi = "*"
boto3 = "*"

[dev-packages]
bpython = "*"
django-extensions = "*"
black = "*"
isort = "*"
flake8 = "*"
awscli = "*"

[requires]
python_version = "3.9"
